/* Body Standard Styles */
body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: #222;
}

 /*ERROR and STATUS code page styles*/

.StatusCode_Header
{
   color: whitesmoke;
   text-align: center;
   font-size: xx-large;  
}

.StatusCode_Text
{
   color: whitesmoke;
   text-align: center;
   font-size: medium;
}

.StatusCode_Link
{
   color: lightblue;
   text-align: center;
   font-size: medium;
}