<%- include('partials/header') -%>

<script type="text/javascript" src="/scripts/dashboard.js"></script>
</head>
<body>
    
<title>Dashboard</title>
    
<input type="button" value="Call LinkAccountID()" onclick="LinkAccountID()"><br />
<%- include('partials/footer') -%>