<%- include('partials/header') -%>

<title>Dashboard</title>
    
<h1>Test Header</h1>
<input type="button" value="Call LinkAccountID()" onclick="LinkAccountID()"><br />
<%- include('partials/footer') -%>