<%- include('partials/header') -%>

</head>
<body>
    
<title>403 Forbidden</title>

<h1 class="StatusCode_Header">Error 403 - Forbidden</h1>
<hr>
<p class="StatusCode_Text">
    Our servers understood your request, but a third-party service refused to authorize you.
    <a class="StatusCode_Link", href="/home">Go Back</a>
</p>

<%- include('partials/footer') -%>