<%- include('partials/header') -%>

<title>Home Page</title>

<%- include('partials/navbars/login_navbar') -%>
    
PlayFab Getting Started Guide<br />
    Username: <input type="text" id="username" value="Enter PlayFab ID"><br />
    Password: <input type="text" id="password" value="Enter PlayFab ID"><br />
    
    <input type="button" value="Call LoginPlayFab" onclick="LoginPlayFab()"><br />
    Result:<br />
    <textarea id="resultOutput" cols="60" rows="5"></textarea><br />

<%- include('partials/footer') -%>