<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device_width, initial_scale=1.0">
        <title>Home Page</title>
    </head>
    <body>
        <ul>
            <% users.forEach(user => { %>
                <li><%= user.name %> - <%= user.email %></li>
            <% }) %>
        </ul>
    </body>
</html>