<%- include('partials/header') -%>

<title>Home Page</title>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

<div id="id01" class="modal">
  <form class="modal-content animate" action="/home" onsubmit="return LoginPlayFab()">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01r').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="/content/logo.jpg" alt="Blue Screen Studios Logo" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" id="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
      
      <!--Button to run the LoginPlayFab() function grabbing uname and psw from DOM-->
      <button type="button" onclick="LoginPlayFab()">Login</button>

      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:gray">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw"><a href="#">Forgot password?</a></span>
    </div>
  </form>
</div>

<%- include('partials/footer') -%>