<div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-primary" href="/auth/discord">
          <strong>Log in with Discord</strong>
        </a>
        <a class="button is-light" href="https://discord.com/">
          Join Discord Server
        </a>
      </div>
    </div>
  </div>
</div>