<div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light" href="/auth/discord/logout">
          Log Out
        </a>
      </div>
    </div>
  </div>
</div>